body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    width: 80%;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #ffffff;
}

h1 {
    color: #333333;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0;
    color: #555555;
}

input {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#result {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    color: #4CAF50;
}

#historyContainer {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #cccccc;
    border-radius: 10px;
    background-color: #ffffff;
}

